// Diferentes font-sizes que tendran lugar en el folder utilities para crear clases que podremos usar dentro de nuestro html.

// Font-family
$ff-sans: 'Space Mono', monospace;

$ff-base: $ff-sans;

//Font-sizes

$font-sizes: (
  //  32 - 48px to the font sizes result.
  800: clamp(2rem, 1.2857rem + 3.0476vw, 3rem),
  // 24 px, btns and inputs font sizes, never change.
  500: 1.5rem,
  // 20px reset btn, never change.
  400: 1.25rem,
  // 16px all titles, never change on medias query.
  300: 1rem
);

//Font-weights

$fw-700: 700;
