@use '../abstracts/' as *;

.button-tip {
  // Some default removed from the btn.
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  border-radius: size(5);
  transition: 275ms ease;
  padding: 0.8em 2em;
  font-weight: $fw-700;
  background-color: clr(primary, 900);
  color: clr(neutral, 100);

  &:hover {
    background-color: clr(primary, 500);
    color: clr(primary, 900);
  }

  &:focus {
    background-color: clr(primary, 600);
    color: clr(primary, 900);
  }
}

.button-reset {
  // Some default removed from the btn.
  width: 100%;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  border-radius: size(5);
  transition: 275ms ease;
  padding: 0.8em 2em;
  font-weight: $fw-700;
  background-color: clr(primary, 800);
  color: clr(primary, 900);

  //   save for when desible false
  //   &:hover {
  //     background-color: clr(primary, 500);
  //     color: clr(primary, 900);
  //   }

  //   &:focus {
  //     background-color: clr(primary, 600);
  //     color: clr(primary, 900);
  //   }
}
